<div>
  <div class="column">
    <h1>Bem vindo professor {{ professor.nomeCompleto }}</h1>
    <mat-form-field>
      <mat-label>Alunos</mat-label>
      <mat-select [(ngModel)]="selectedAluno" (selectionChange)="getAluno()">
        <mat-option *ngFor="let aluno of alunos" [value]="aluno">{{
          aluno.nomeCompleto
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedAluno" style="text-align: center">
      Treinos:
      <div style="display: flex; flex-direction: row; width: 100%">
        <div *ngFor="let treino of treinos">
          <mat-card style="margin-left: 5%">
            <mat-card-title>
              {{ treino.grupoMuscular }}
              <button mat-button (click)="expand = !expand">Visualizar</button>
            </mat-card-title>
            <mat-card-content *ngIf="expand">
              <div
                *ngFor="let exercicio of treino.exercicios; index as i"
                style="display: flex; flex-direction: column"
              >
                <mat-divider></mat-divider>
                <span style="font-size: 20px; font-style: bold"
                  >Exercicio #{{ i + 1 }}</span
                >
                <span>aparelho: {{ exercicio.aparelho }}</span>
                <span>repetições: {{ exercicio.repeticoes }}</span>
                <span>segurar por {{ exercicio.tempo }}</span>
                <span>intervalo de {{ exercicio.intervalo }}</span>
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="selectedAluno">
      <button mat-flat-button (click)="treino = !treino">
        Adicionar treino
      </button>
    </div>
    <form
      [formGroup]="formTreino"
      (ngSubmit)="onTreinoSubmit(formTreino.value)"
      *ngIf="treino"
      class="box"
    >
      <mat-form-field class="input">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Grupo Muscular</mat-label>
        <mat-select formControlName="group">
          <mat-option value="cabeça"
            >músculos da cabeça e do pescoço</mat-option
          >
          <mat-option value="peito">músculos do tórax e abdômen</mat-option>
          <mat-option value="braço">músculos dos membros superiores</mat-option>
          <mat-option value="perna">músculos dos membros inferiores</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="submit">OK</button>
    </form>
    <div *ngIf="newTreino">
      <mat-card style="margin-bottom: 2em">
        <mat-card-header style="text-align: center; font-size: 18px">
          {{ newTreino.name }} - {{ newTreino.group }}
        </mat-card-header>
      </mat-card>
      <button mat-stroked-button (click)="exercicio = !exercicio">
        Adicionar Exercicio
      </button>
    </div>
    <div *ngIf="exercicios.length > 0">
      <ul>
        <li *ngFor="let exercicio of exercicios">
          {{ exercicio.aparelho }}
          <button mat-icon-button (click)="delete(exercicio)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
      <button mat-button (click)="submitTreino()">Confirmar Treino</button>
    </div>
    <form
      [formGroup]="formExercicio"
      (ngSubmit)="onExercicioSubmit(formExercicio.value)"
      *ngIf="exercicio"
      class="box"
    >
      <mat-form-field class="input">
        <mat-label>Aparelho</mat-label>
        <input matInput formControlName="aparelho" />
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Tempo</mat-label>
        <input matInput formControlName="tempo" />
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Repetições</mat-label>
        <input matInput formControlName="repeticoes" />
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Intervalo</mat-label>
        <input matInput formControlName="intervalo" />
      </mat-form-field>
      <button mat-button type="submit">OK</button>
    </form>
  </div>
</div>
