<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>Academia dos Maromba</span>
  </div>

  <h2>Login</h2>

  <div class="card-container">
    <form class="example-form" #loginForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Usuário</mat-label>
        <input
          name="login"
          matInput
          placeholder="Ex. VitorMendes"
          [(ngModel)]="login"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input name="senha" matInput type="password" [(ngModel)]="senha" />
      </mat-form-field>
    </form>
  </div>

  <!-- Next Steps -->
  <footer>Não possui um perfil? Cadastre-se agora.</footer>
  <div class="card-container">
    <div class="card card-small" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Aluno</span>
    </div>

    <div class="card-container">
      <button
        class="card card-small"
        [disabled]="login == null && senha == null"
        (click)="loginClick()"
        tabindex="0"
      >
        <span>Entrar</span>
      </button>
    </div>
  </div>
</div>
