<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>Academia dos Maromba</span>
  </div>

  <h2>Login</h2>

  <div class="card-container">
    <form class="example-form" #loginForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Usuário</mat-label>
        <input
          name="login"
          matInput
          placeholder="Ex. VitorMendes"
          [(ngModel)]="login"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input
          name="senha"
          matInput
          placeholder="*******"
          type="password"
          [(ngModel)]="senha"
        />
      </mat-form-field>
    </form>
  </div>

  <!-- Next Steps -->
  <footer>Não possui um perfil? Cadastre-se agora.</footer>
  <div class="card-container">
    <div class="card-container">
      <div class="card card-small" routerLink="/app-secretaria" routerLinkActive="active" tabindex="0">
          <span>Entrar</span>
      </div>
        <!-- <div class="card card-small" (click)="loginClick()" tabindex="0">
            <span>Entrar</span>
        </div> -->
    </div>
  </div>
</div>
