<!-- <div>
  <form #loginForm='ngForm'>
    <mat-form-field>
      <mat-label>Usuário</mat-label>
      <input name="login" matInput placeholder="Ex. VitorMendes" [(ngModel)]="login">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input name="senha" matInput placeholder="*******" type="password" [(ngModel)]="senha">
    </mat-form-field>
  </form>
</div>

<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
  .example-full-width {
    width: 50%;
  }
</style> -->