<div class="main-box">
    <div style="font-size: x-large;">
        Secretária: {{ nomeSecretaria }}
    </div>

    <mat-card class="section">
        <mat-icon style="margin: 0px 5px;">
            Description
        </mat-icon>
        Cadastro
    </mat-card>
    <div class="gridSolution nice-input">
        <form class="example-form" #loginForm='ngForm'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome aluno</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>

        <mat-form-field class="example-full-width ">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Kg" type="number" [(ngModel)] = "peso">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Identidade</mat-label>
            <input matInput placeholder="Metros" type="text" [(ngModel)] = "altura">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Data de nascimento</mat-label>
            <input matInput type="text" [(ngModel)] = "pressao">
        </mat-form-field>
    </div>
    
    <mat-card class="section"> <mat-icon style="margin: 0px 5px;">info</mat-icon>Cartão de crédito</mat-card>
    <div class="gridSolution nice-input">
        <mat-form-field class="example-full-width ">
            <mat-label>Nº cartão</mat-label>
            <input matInput type="number" [(ngModel)] = "peso">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Bandeira cartão</mat-label>
            <input matInput type="text" [(ngModel)] = "altura">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Nome do cartão</mat-label>
            <input matInput type="text" [(ngModel)] = "pressao">
        </mat-form-field>
    </div>

    <mat-card class="section"> <mat-icon style="margin: 0px 5px;">map</mat-icon>Exercícios</mat-card>
    <div class="gridSolution nice-input">
        <form class="example-form" #loginForm='ngForm'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Modalidade</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Plano</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div>
        <button name="teste" class="nice-input transition" mat-stroked-button color="primary">Cadastrar!</button>
    </div>
</div>
