<div class="main-box">
    <div style="font-size: x-large;">
        Secretária: {{ secretaria.nomeCompleto }}
    </div>

    <mat-card class="section">
        <mat-icon style="margin: 0px 5px;">
            Description
        </mat-icon>
        Cadastro
    </mat-card>
    <div class="gridSolution nice-input">
        <form class="example-form" #loginForm='ngForm'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome aluno</mat-label>
                <mat-select name="teste" [(ngModel)] = "aluno.id">
                    <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{usuario.nomeCompleto}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>

        <mat-form-field class="example-full-width">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Kg" type="text" [(ngModel)] = "aluno.login">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Kg" type="password" [(ngModel)] = "aluno.senha">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Kg" type="text" [(ngModel)] = "aluno.cpf">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Identidade</mat-label>
            <input matInput placeholder="Metros" type="text" [(ngModel)] = "aluno.identidade">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Data de nascimento</mat-label>
            <input matInput type="text" [(ngModel)] = "aluno.dataNascimento">
        </mat-form-field>
    </div>
    
    <mat-card class="section"> <mat-icon style="margin: 0px 5px;">info</mat-icon>Cartão de crédito</mat-card>
    <div class="gridSolution nice-input">
        <mat-form-field class="example-full-width ">
            <mat-label>Nº cartão</mat-label>
            <input matInput type="text" [(ngModel)] = "aluno.cartaoNumero">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Bandeira cartão</mat-label>
            <input matInput type="text" [(ngModel)] = "aluno.cartaoBandeira">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Nome do cartão</mat-label>
            <input matInput type="text" [(ngModel)] = "aluno.cartaoProprietario">
        </mat-form-field>
    </div>

    <mat-card class="section"> <mat-icon style="margin: 0px 5px;">map</mat-icon>Exercícios</mat-card>
    <div class="gridSolution nice-input">
        <form class="example-form" #loginForm='ngForm'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Modalidade</mat-label>
                <mat-select name="teste2" [(ngModel)] = "aluno.idModalidade">
                    <mat-option *ngFor="let modalidade of modalidades" [value]="modalidade.value">
                        {{modalidade.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Plano</mat-label>
                <mat-select name="teste3" [(ngModel)] = "planoEscolhido">
                    <mat-option *ngFor="let plano of planos" [value]="plano.value">
                        {{plano.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div>
        <button name="teste" (click)="cadastrar()" class="nice-input transition" mat-stroked-button color="primary">Cadastrar!</button>
    </div>
</div>
