<div class="main-box">
    <div style="font-size: x-large;">
        Médico: {{ nomeMedico }}
    </div>
    <mat-card class="section"><mat-icon style="margin: 0px 5px;">map</mat-icon>Exame de aptidão física</mat-card>

    <div class="card-container">
        <form class="example-form" #loginForm='ngForm'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ausculta Cardiorrespiratória</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Aferição da Pressão Arterial</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Anamnese</mat-label>
                <mat-select>
                    <mat-option *ngFor="let exame of exames" [value]="exame.value">
                        {{exame.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <mat-card class="section">
        <mat-icon style="margin: 0px 5px;">
            Description
        </mat-icon>
        Informações Gerais
    </mat-card>
    <div class="gridSolution nice-input">
        <mat-form-field class="example-full-width ">
            <mat-label>Nome Completo</mat-label>
            <input matInput type="text" [(ngModel)] = "nome">
        </mat-form-field>

        <mat-form-field class="example-full-width ">
            <mat-label>Peso</mat-label>
            <input matInput placeholder="Kg" type="number" [(ngModel)] = "peso">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Altura</mat-label>
            <input matInput placeholder="Metros" type="number" [(ngModel)] = "altura">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Pressão arterial</mat-label>
            <input matInput type="number" [(ngModel)] = "pressao">
        </mat-form-field>

        <mat-form-field class="example-full-width ">
            <mat-label>% Gordura no Corpo</mat-label>
            <input matInput type="number" [(ngModel)] = "gordura">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>% Massa Magra</mat-label>
            <input matInput type="number" [(ngModel)] = "massaMagra">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>IMC</mat-label>
            <input matInput placeholder="Kg/m²" [(ngModel)] = "imc">
        </mat-form-field>
    </div>
    
    <mat-card class="section"> <mat-icon style="margin: 0px 5px;">info</mat-icon>Habilitação</mat-card>
    <div class="card-container">
        <form class="example-form" #loginForm='ngForm' name="teste3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>O paciente está habil para atividade física</mat-label>
                <mat-select name="teste2" [(ngModel)] = "aprovado">
                    <mat-option *ngFor="let aprovacao of aprovacaos" [value]="aprovacao.value">
                        {{aprovacao.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <!-- <div style="display: flex;">
        O paciente está habil para atividade física:
        <mat-select>
            <mat-option *ngFor="let aprovacao of aprovacaos" [value]="aprovacao.value">
                {{aprovacao.viewValue}}
            </mat-option>
        </mat-select>
    </div> -->
    <div>
        <button [disabled]="!canFinish(false)" [ngClass]="{'disabled' : !canFinish(false)}" name="teste" class="nice-input transition" mat-stroked-button color="primary">Cadastrar!</button>
    </div>
</div>
