<div class="card-container">
  <div class="card card-small" tabindex="0">
    <span>Ver treino cadastrado</span>
  </div>
  <div class="card card-small" tabindex="0">
    <span>Ver exame de aptidão fisica</span>
  </div>
</div>
<div class="w-100p h-100">
  <div class="grid">
    <div class="column">
      <span></span>
      <span class="item" *ngFor="let horario of horarios">{{ horario }}</span>
    </div>
    <div class="column">
      <span>Segunda</span>
      <span></span>
    </div>
    <div class="column">
      <span>Terça</span>
    </div>
    <div class="column">
      <span>Quarta</span>
    </div>
    <div class="column">
      <span>Quinta</span>
    </div>
    <div class="column">
      <span>Sexta</span>
    </div>
    <div class="column">
      <span>Sábado</span>
    </div>
    <div class="column">
      <span>Domingo</span>
    </div>
  </div>
</div>
